//----------------------------------------------   
// Family: Neue Haas Unica
//  
// Regular: 400
// Bold: 700
//----------------------------------------------

// Regular
@font-face {
    font-family: 'NeueHaasUnica';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Regular.eot');
    src: url('/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Regular.woff2') format('woff2'),
        url('/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Regular.woff') format('woff'),
        url('/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  
  // Bold
  @font-face {
    font-family: 'NeueHaasUnica';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Bold.eot');
    src: url("/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Bold.woff2") format('woff2'),
    url("/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Bold.woff") format('woff'),
    url("/assets/css/fonts/NeueHaasUnica/NeueHaasUnica-Bold.ttf") format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }