//----------------------------------------------   
// Family: Telegraf
//  
// Regular: 400
// Bold: 700
//----------------------------------------------

// Regular
@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/css/fonts/Telegraf/Telegraf-Regular.eot');
    src: url('/assets/css/fonts/Telegraf/Telegraf-Regular.woff2') format('woff2'),
        url('/assets/css/fonts/Telegraf/Telegraf-Regular.woff') format('woff'),
        url('/assets/css/fonts/Telegraf/Telegraf-Regular.ttf') format('truetype'),
        url('/assets/css/fonts/Telegraf/Telegraf-Regular.svg#svgFontName') format('svg');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

// Bold
@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/css/fonts/Telegraf/Telegraf-SemiBold.eot');
    src: url('/assets/css/fonts/Telegraf/Telegraf-SemiBold.woff2') format('woff2'),
        url('/assets/css/fonts/Telegraf/Telegraf-SemiBold.woff') format('woff'),
        url('/assets/css/fonts/Telegraf/Telegraf-SemiBold.ttf') format('truetype'),
        url('/assets/css/fonts/Telegraf/Telegraf-SemiBold.svg#svgFontName') format('svg');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }